
/vacancies_by_year.csv
/хуждожественный фильм - snatch/
/Lesson.py
/test.csv
/1.5 Elements of a functional programming/test.py
/1.4 Procedural programming. Concept of a function. Built-in library/test_pretty_table.py
